.panel {
  position: absolute;
  top: 60vh;
  left: 20vw;
  padding: 5px 20px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
  background-color: rgba(255, 136, 136,0.3);
}
.path {
    color:#f88
}
.type {
    font-size: 16px;
}
.time {
    font-size: 14px;
}
